@media (max-width: 768px) {

.about-games {
    display: none;
}

.header__title-block {
    font-family: Montserrat;
    padding-left: 17px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin: auto;
}

.header__title-block-title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.header__title-block-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 24px;
}

/* ↓↓↓ Кнопка ↓↓↓ */
.header__title-block-button {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    color: rgb(255, 255, 255);
    margin-bottom: 131px;
    margin-top: 36px;
}
/* ↑↑↑Кнопка конец↑↑↑ */

/* ↓↓↓ БЕГУЩАЯ СТРОКА ↓↓↓ */
.header__stripe {display: none;}
.header__stripe {
    background-color: rgb(188, 236, 48);
    width: 100%;
    height: 51px;
    overflow: hidden;
    
}

.header__stripe-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 51.34px;
    gap: 74.13px;
    
}

.header__stripe-text-tag {
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    white-space: nowrap;
    text-transform: uppercase;
}

.header__stripe-text-tag::before {
    position: absolute;
    content:'';
    background-image: url(gamesite/images/headerstripestar.svg);
    width: 19.34pxx;
    height: 19.34pxpx;
    top: -9px;
    left: -52px;
}

/* ↑↑↑ БЕГУЩАЯ СТРОКА конец ↑↑↑ */

/* ↓↓ Контейнер со всеми карточками ↓↓ */
.about-games__gamecards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
} 
/* ↑↑ Контейнер со всеми карточками ↑↑ */

.mini-games__title {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 16px;
    padding-right: 109px;
    
}

.mini-games__allcards {
    padding-bottom: 144px;
    display: flex;
    max-width: 343px;
    margin: 0 auto;
    gap: 24px;
    
}

.mini-games__gamecard {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.mini-games__gamecard2 {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.mini-games__gamecard3 {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}


.mini-games__gamecard-text-container {
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
}

.mini-games__gamecard-text-container2 {
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
}

.mini-games__gamecard-text-container3 {
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
}

.mini-games__image1 {display: none;}

.mini-games__image2 {
    display: block; 
    width: 100%; 
    height: 284px;
}

/* ↓↓↓ НАЗВАНИЯ ИГР начало ↓↓↓ */
.mini-games__gametitle {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-bottom: 24px;
}

.mini-games__gametitle2 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-bottom: 24px;

}

.mini-games__gametitle3 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-bottom: 24px;

}
/* ↑↑↑ НАЗВАНИЯ ИГР конец ↑↑↑ */

.mini-games__gametext {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.mini-games__gametext2 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.mini-games__gametext3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.mini-games__gamebutton {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
}

























































}