* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  @import "mobile";

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

  /* ↓↓↓БЛОК HEADER↓↓↓ */
  .header {
    max-height: 800px;
    width: 100%;
    background: url(gamesite/images/Star-1.png) left 63px top 94px/35px no-repeat,
                url(gamesite/images/Star-2.png) right 63px top 94px/57px no-repeat,
                url(gamesite/images/Star-3.png) bottom right/ 37px no-repeat,
                url(gamesite/images/Star-4.png) bottom right/84px no-repeat,
                url(gamesite/images/largestar2.png) right -350px/1074px 1130px no-repeat,
                url(gamesite/images/backgroundheader.png) center/100% 800px no-repeat;
    background-position: 23% 10%, 19% 17%, 57% 65%, 61% 75%, 132% 108%;
            }


.header__title-block {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 119px;
    margin-right: 120px;
    }

.header__title-block-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 196px;
    font-family: Montserrat;
    
}

.header__title-block-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    padding-right: 48px;
    font-family: Montserrat;
    }

/* ↓↓↓ Кнопка ↓↓↓ */

.header__title-block-button {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 247px;
    height: 67px;
    font-size: 24px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 64px;
    margin-bottom: 156px;
    font-family: Montserrat;
}

.header__title-block-button:hover {
    background: #FFFFFF;
    color: #202027;
    transition: 0.5s;
}

/* ↑↑↑Кнопка конец↑↑↑ */

.addtext {
    font-weight: 600;
}

/* ↓↓↓ БЕГУЩАЯ СТРОКА ↓↓↓ */

.header__stripe {
    background-color: rgb(188, 236, 48);
    width: 1440px;
    height: 98px;
    overflow: hidden;
    margin: 0 auto;
}

.header__stripe-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90px;
    gap: 138px;
    
}

.header__stripe-text-tag {
    width: 100%;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Montserrat;
}

.header__stripe-text-tag::before {
    position: absolute;
    content:'';
    background-image: url(gamesite/images/headerstripestar.svg);
    width: 36px;
    height: 36px;
    top: 0;
    left: -82px;
}

/* ↑↑↑ БЕГУЩАЯ СТРОКА конец ↑↑↑ */

 /* ↑↑↑БЛОК HEADER КОНЕЦ↑↑↑ */

/* ↓↓↓БЛОК ОБ ИГРАХ↓↓↓ */

.about-games {
    background: #202027;
    background-repeat: no-repeat;
    background-image: url(gamesite/images/BlackstarXL.png), 
                      url(gamesite/images/Blackstar1.png), 
                      url(gamesite/images/Blackstar2.png);
    background-position: 106% 1%, 22% 55%, 24% 60%;
    width: 100%;
}

.about-games__textblock {
    margin-left: 119px;
    margin-right: 120px;
}

.about-games__title {
    padding-top: 94px;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    font-family: Montserrat;

}

.about-games__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Montserrat;
}

/* ↓↓↓КАРТОЧСКИ С ИГРАМИ↓↓↓ */
    
/* ↓↓ Контейнер со всеми карточками ↓↓ */
.about-games__gamecards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 
/* ↑↑ Контейнер со всеми карточками ↑↑ */

    /* ↓↓ Карточка малого размера ↓↓ */
.about-games__gamecard-m {
    width: 378px;
    height: 473px;
    background-color: #FFFFFF;
    border-radius: 30px;

}

.about-games__gamelink {
    text-decoration: none;
}

.about-games__gamelink-description {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
}

.about-games__gamelink-description__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    width: 108px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Montserrat;
}

.about-games__gamelink-description__text {
    padding-top: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #000000; 
    font-family: Montserrat;
}
    /* ↑↑ Карточка малого размера ↑↑ */

    /* ↓↓ Карточка большого размера ↓↓ */

.about-games__gamecard-xl {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
    }

    /* ↑↑ Карточка большого размера ↑↑ */

    /* ↓↓ Карточка мега размера ↓↓ */

.about-games__gamecard-xxl {
    width: 378px;
    height: 551px;
    background-color: #ffffff;
    border-radius: 30px;
    }

 /* ↑↑ Карточка мега размера ↑↑ */




























































































