@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "_mobile.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
html {scroll-behavior: smooth;}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

  /* ↓↓↓БЛОК HEADER↓↓↓ */
  .header {
    max-height: 800px;
    width: 100%;
    background: url(gamesite/images/Star-1.png) left 63px top 94px/ 35px no-repeat,
                url(gamesite/images/Star-2.png) right 63px top 94px/ 57px no-repeat,
                url(gamesite/images/Star-3.png) bottom right/ 37px no-repeat,
                url(gamesite/images/Star-4.png) bottom right/ 84px no-repeat,
                url(gamesite/images/largestar2.png) right -350px/ 1074px 1130px no-repeat,
                url(gamesite/images/backgroundheader.png) center/ 100% 800px no-repeat;
    background-position: 23% 10%, 19% 17%, 57% 65%, 61% 75%, 132% 108%;
          
}


.header__title-block {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 119px;
    margin-right: 120px;
    }

.header__title-block-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 196px;
    font-family: Montserrat;
    
}

.header__title-block-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    padding-right: 48px;
    font-family: Montserrat;
    }

/* ↓↓↓ Кнопка ↓↓↓ */

.header__title-block-button {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 247px;
    height: 67px;
    font-size: 24px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 64px;
    margin-bottom: 156px;
    font-family: Montserrat;
}

.header__title-block-button:hover {
    background: #FFFFFF;
    color: #202027;
    transition: 0.5s;
}

/* ↑↑↑Кнопка конец↑↑↑ */

.addtext {
    font-weight: 600;
}

/* ↓↓↓ БЕГУЩАЯ СТРОКА ↓↓↓ */

.header__stripe {
    background-color: rgb(188, 236, 48);
    width: 100%;
    height: 98px;
    overflow: hidden;
    margin: 0 auto;
}

.header__stripe-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90px;
    gap: 138px;
    animation: scroll-left 15s linear infinite;
    
}

.header__stripe-text-tag {
    width: 100%;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Montserrat;
}

.header__stripe-text-tag::before {
    position: absolute;
    content:'';
    background-image: url(gamesite/images/headerstripestar.svg);
    width: 36px;
    height: 36px;
    top: 0;
    left: -82px;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%); 
    }
}

/* ↑↑↑ БЕГУЩАЯ СТРОКА конец ↑↑↑ */

 /* ↑↑↑БЛОК HEADER КОНЕЦ↑↑↑ */


/* ↓↓↓БЛОК ОБ ИГРАХ↓↓↓ */

.about-games {
    background: #202027;
    background-repeat: no-repeat;
    background-image: url(gamesite/images/BlackstarXL.png), 
                      url(gamesite/images/Blackstar1.png), 
                      url(gamesite/images/Blackstar2.png);
    background-position: 78% 13%, 22% 55%, 24% 60%;
    width: 100%;
}

.about-games__textblock {
    margin-left: 119px;
    margin-right: 120px;
}

.about-games__title {
    padding-top: 94px;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    font-family: Montserrat;

}

.about-games__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Montserrat;
}

/* ↓↓↓КАРТОЧСКИ С ИГРАМИ↓↓↓ */
    
/* ↓↓ Контейнер со всеми карточками ↓↓ */
.about-games__gamecards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    
} 
/* ↑↑ Контейнер со всеми карточками ↑↑ */

/* ↓↓ Карточка малого размера ↓↓ */
.about-games__gamecard-m {
    width: 378px;
    height: 473px;
    background-color: #FFFFFF;
    border-radius: 30px;
    
}

.about-games__gamelink {
    text-decoration: none;
}

.about-games__gamelink-description {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
}

.about-games__gamelink-description__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    width: 108px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Montserrat;
}

.about-games__gamelink-description__desc {
    padding-top: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #000000; 
    font-family: Montserrat;
}
/* ↑↑ Карточка малого размера ↑↑ */

/* ↓↓ Карточка большого размера  ↓↓ */

.about-games__gamecard-xl {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
        
    }

/* ↑↑ Карточка большого размера ↑↑ */

/* ↓↓ Карточка большого размера 2 ↓↓ */

 .about-games__gamecard-xl2 {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
    align-self: end;
            
    }
    
/* ↑↑ Карточка большого размера 2 ↑↑ */

/* ↓↓ Карточка мега размера ↓↓ */

.about-games__gamecard-xxl {
    width: 378px;
    height: 551px;
    background-color: #ffffff;
    border-radius: 30px;
        
    }

 /* ↑↑ Карточка мега размера ↑↑ */

/* ↓↓↓БЛОК МИНИ ИГРЫ↓↓↓ */

.mini-games {
    background: #202027;
    background-repeat: no-repeat;
    background-image: url(gamesite/images/Blackstar1.png), 
                      url(gamesite/images/Blackstar2.png);
    background-position: 72% 4%, 75% 5%;
    width: 100%;

}

.mini-games__allcards {
    padding-bottom: 144px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 32px;
    overflow: hidden;

}

/* ↓↓ Карточка контент слева ↓↓ */
.mini-games__title {
    padding-top: 94px;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    font-family: Montserrat;
    /* margin-left: 119px; */
    padding-left: 119px;
    margin-bottom: 72px;
}

.mini-games__gamecard {
    max-width:1200px;
    /*height: 500px; */
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    /* align-items: flex-end; */

    
}

.mini-games__gamecard-text-container {padding: 48px;}

.mini-games__gametitle {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    margin-bottom: 24px;
}
.mini-games__gametitle span {
    display: block; /* Каждое слово будет на новой строке */
}
.mini-games__gametext {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 36px;
}

.mini-games__gamebutton {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 247px;
    height: 67px;
    font-size: 24px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
}

.mini-games__gamebutton:hover {
    background: #FFFFFF;
    color: #202027;
    transition: 0.5s;
}

.mini-games__image1 {
    position: relative;

}

/* ↑↑ Карточка слева ↑↑ */
/* ↓↓ Карточка контент справа ↓↓ */

.mini-games__gamecard2 {
    max-width:1200px;
    /* height: 500px; */
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    /* align-items: flex-end; */
    
    
}

.mini-games__gamecard-textonly2 {
    order: 1;
}

.mini-games__gamecard-text-container2 {
    padding: 48px;
}

.mini-games__gametitle2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    margin-bottom: 36px;
}

.mini-games__gametext2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    margin-bottom: 36px;
}


/* ↑↑ Карточка контент справа ↑↑ */


/* ↓↓ Карточка ПОСЛЕДНЯЯ ↓↓ */
.mini-games__gamecard3 {
    max-width:1200px;
    /* height: 500px; */
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    /* align-items: flex-end;     */
    }

.mini-games__gamecard-text-container3 {
    padding: 48px;

}

.mini-games__gametitle3 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    margin-bottom: 24px;

}
.mini-games__gametitle3 span {
    display: block; /* Каждое слово будет на новой строке */
}

.mini-games__gametext3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 36px;
}

/* ↑↑ Карточка ПОСЛЕДНЯЯ ↑↑ */

.about-games__gamecard-m, .about-games__gamecard-xl, .about-games__gamecard-xxl, .about-games__gamecard-xl2 {
    transition: transform 0.3s ease-in-out;
  }
  
.about-games__gamecard-m:hover, .about-games__gamecard-xl:hover, .about-games__gamecard-xxl:hover, .about-games__gamecard-xl2:hover {
    transform: scale(1.1);
    z-index: 1;
  }



.mini-games__image2 {
    display: none;
}

.footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 150px;
    background-color: rgb(189, 237, 53);
    
    
}
.footer__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    
}




/* ↓↓ 1 Игра внешка ↓↓ */
input[type="number"] {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s; 
}

input[type="number"]:focus {
    border-color: #66afe9; 
    outline: none; 
}

button {
    padding: 10px 15px; 
    font-size: 16px; 
    background-color: #000000; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}
/* ↑↑ 1 Игра внешка ↑↑ */

/* ↓↓ 3 Игра внешка ↓↓ */
.inputContainer {
    padding-top: 10px;
}

/* ↑↑ 3 Игра внешка ↑↑ */